.all-products {
  width: 320px;
  margin: 0 auto;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.all-products__wrap {
  width: 280px;
  margin: 0 auto;
  padding: 24px 0;
}

.all-products__plus {
  display: block;
  background: url("../img/icon-plus-mobile.svg") no-repeat;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  margin-bottom: 15px;
  cursor: pointer;
}

.all-products__title {
  display: block;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-family: "oswaldmedium", serif;
  color: @black-darker;
  font-weight: 500;
  text-align: center;
}

.all-products__subtitle {
  font-size: 12px;
  line-height: 16px;
  font-family: "Arial", serif;
  color: @grey-light;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .all-products {
    display: none;
  }
}

@media (min-width: @desktop-width) {

}
