.another {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 35px;
}

.another__wrap {
  width: 280px;
  margin: 0 auto;
}

.another__title {
  position: relative;
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  margin-top: 25px;
  margin-left: -2px;
  margin-bottom: 34px;
}

.another__title::after {
  position: absolute;
  content: "";
  top: 14px;
  right: -248px;
  width: 100%;
  height: 3px;
  background-color: @green;
}

.another__item {
  border-top: 1px solid #cdcdcd;
  padding: 11px 0;
  margin-bottom: 6px;
}

.another__item:last-child {
  border-bottom: 1px solid #cdcdcd;
  padding-bottom: 17px;
}

@media (min-width: (@tablet-width)) {
  .another {
    width: 768px;
    margin-bottom: 80px;
  }

  .another__wrap {
    width: 708px;
    margin: 0 auto;
  }

  .another__item-wrap {
    width: 630px;
    margin: 0 auto;
    padding: 27px 40px;
    border: 1px solid #e6e6e6;
    margin-top: 82px;
    padding-top: 23px;
  }

  .another__title {
    font-size: 36px;
    line-height: 36px;
    padding: 0 40px;
  }

  .another__item {
    border: none;
    position: relative;
    padding: 0;
    margin-bottom: 52px;
  }

  .another__item:last-child {
    border: none;
    margin: 0;
    padding: 0;
  }

  .another__item::before {
    position: absolute;
    content: none;
    top: 0;
    left: -30px;
    width: 708px;
    height: 1px;
    background-color: #e6e6e6;
  }

  .another__title::before {
    position: absolute;
    content: "";
    top: 23px;
    left: -354px;
    width: 50%;
    height: 3px;
    background-color: @green;
  }

  .another__title::after {
    position: absolute;
    content: "";
    top: 23px;
    right: -201px;
    width: 70%;
    height: 3px;
    background-color: @green;
  }
}

@media (min-width: (@desktop-width)) {
  .another {
    width: 1220px;
    display: flex;
    justify-content: space-between;
    margin-top: -156px;
    margin-bottom: 86px;
    padding: 0 110px;
  }

  .another__wrap {
    width: 895px;
    margin: 0 auto;
  }

  .another__item {
    display: flex;
    justify-content: space-between;
    padding-top: 7px;
    margin-bottom: 0;
    padding-bottom: 7px;
  }

  .another__item:last-child {
    padding-top: 7px;
    border-bottom: 1px solid #e6e6e6;
  }

  .another__item-wrap {
    width: 895px;
    margin: 0 auto;
    padding: 0;
    border: none;
    margin-top: 82px;
  }

  .another__item .btn--order {
    display: inline-block;
    width: 245px;
    margin-top: 7px;
    margin-right: 2px;
    padding: 0;
    max-height: 40px;
    line-height: 39px;
  }

  .another__item::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 895px;
    height: 1px;
    background-color: #e6e6e6;
  }

  .another__title {
    padding: 0;
    margin-top: 27px;
  }

  .another__title::before {
    position: absolute;
    content: "";
    top: 22px;
    left: -1384px;
    width: 150%;
    height: 3px;
    background-color: @green;
  }

  .another__title::after {
    position: absolute;
    content: "";
    top: 22px;
    right: -832px;
    width: 151%;
    height: 3px;
    background-color: @green;
  }
}
