.btn {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
  background-color: rgba(104,183,56, 1);
  width: 280px;
  min-height: 40px;
  font-size: 14px;
  line-height: 25px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.btn:after {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.btn--to-all {
  color: @black-lighter;
  background-color: @bg-lighter;
}

.btn--more {

}

.btn--order {

}

.btn--sub {
  border: none;
  outline: none;
  cursor: pointer;
}
