.btn {
  font-family: "oswaldregular", serif;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding-top: 14px;
  background-color: @base-color;
  width: 280px;
  min-height: 40px;
  font-size: 14px;
  line-height: 25px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.btn--to-all {
  color: @black-lighter;
  background-color: @bg-lighter;
}

.btn--sub {
  padding-top: 0;
  font-family: "oswaldregular", serif;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn--more {
  display: block;
  margin: 0 auto;
  margin-top: 290px;
}

@media (min-width: @tablet-width) {
  .btn--more {
    margin: 0;
    margin-right: auto;
    margin-top: 45px;
    font-size: 20px;
    line-height: 25px;
  }

  .btn--sub {
    margin-left: 40px;
  }
}

@media (min-width: @desktop-width) {
  .btn--more {
    margin-left: 190px;
  }

  .btn--sub {
    font-size: 20px;
    line-height: 20px;
    width: 570px;
    height: 52px;
    margin-left: 0;
  }
}
