.example__description {
  font-size: 14px;
  line-height: 18px;
  font-family: Arial;
  color: @grey-light;
}

.example__subtitle {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  font-family: oswaldmedium;
}

.example__title {
  font-size: 36px;
  line-height: 60px;
}

.example__wrap {
  background-color: @bg-lighter;
}
