
@media (min-width: @tablet-width) {
  .filter-programs {
    border: 1px solid #e6e6e6;
    padding: 25px 22px;
  }
}

@media (min-width: @desktop-width) {
  .filter-programs {
    width: 45%;
    padding: 35px 22px;
    height: 126px;
    margin: 0;
  }
}
