.filter-programs {
  margin: 0;
  position: relative;
  border: 1px solid #e6e6e6;
  padding: 21px 20px;
}

@media (min-width: @tablet-width) {
  .filter-programs {
    width: 629px;
    border: 1px solid #e6e6e6;
    padding: 30px 34px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-bottom: 25px;
  }
}

@media (min-width: @desktop-width) {
  .filter-programs {
    width: 47%;
    padding: 33px 37px;
    padding-bottom: 23px;
    margin: 0;
  }
}
