footer {
  width: 320px;
  margin: 0 auto;
  background-color: @bg-lighter;
  position: relative;
  z-index: -2;
}

.footer__wrap {
  width: 280px;
  margin: 0 auto;
}

.footer__contacts--index {
  background: @bg-white;
}

.footer__map {
  width: 320px;
  height: 350px;
  background: url("../img/map-mobile.jpg") no-repeat;
  margin-left: -20px;
}

.footer__map-int {
  display: none;
}

.footer__logo {
  margin: 0 auto;
  display: block;
  width: 130px;
  height: 25px;
  padding-top: 40px;
  cursor: pointer;
  margin-bottom: 25px;
}

.footer__social-wrap {
  margin: 0 auto;
}
