.functional-promo {
  position: relative;
  min-height: 480px;
  width: 320px;
  margin: 0 auto;
  padding-bottom: 23px;
  margin-top: 8px;
}

.functional-promo__text {
  display: flex;
  flex-direction: column;
  margin-top: -308px;
  text-align: center;
}

.functional-promo__title {
  font-size: 36px;
  line-height: 36px;
  color: @bg-white;
  font-weight: 500;
  margin-bottom: 10px;
  padding: 0 20px;
}

.functional-promo__slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: @bg-white;
  font-family: "oswaldregular", serif;
  font-weight: 300;
  padding: 0 20px;
}

.functional-promo__bg-image {
  background: url("../img/index-background-mobile@1x.jpg") no-repeat;
  width: 320px;
  height: 305px;
  z-index: 0;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
    background-size: auto;
  }
}

.functional-promo__food {
  display: block;
  position: absolute;
  top: 167px;
  left: 20px;
}

@media (min-width: @tablet-width) {
  .functional-promo__bg-image {
    visibility: hidden;
  }

  .functional-promo {
    width: 528px;
    margin: 0 auto;
    padding: 0;
  }

  .functional-promo__title {
    font-size: 60px;
    line-height: 60px;
    color: @black-darker;
    text-align: left;
    margin-top: 54px;
    padding-left: 0;
  }

  .functional-promo__slogan {
    font-size: 20px;
    line-height: 20px;
    color: @black-darker;
    text-align: left;
    margin-top: 32px;
    padding-left: 0;
  }

  .functional-promo__food {
    top: 251px;
    left: -90px;
    z-index: -1;
  }

  .functional-promo__image {
    width: 709px;
    height: 609px;
  }
}

@media (min-width: @desktop-width) {
  .functional-promo {
    position: relative;
    width: 1440px;
    margin: 0 auto;
  }

  .functional-promo__title {
    padding: 0;
    margin-top: 52px;
  }

  .functional-promo__bg-image {
    visibility: visible;
    position: absolute;
    background: url("../img/index-background-desktop@1x.jpg") no-repeat;
    background-size: contain;
    top: -123px;
    right: -7px;
    width: 685px;
    height: 696px;
    z-index: -1;


    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg");
      background-size: auto;
    }
  }

  .functional-promo__text {
    width: 415px;
    margin-top: 0;
    padding-top: 47px;
    padding-left: 190px;
  }

  .functional-promo__food {
    transform: translateX(118%);
    top: 19px;
  }

  .functional-promo__image {
    width: 552px;
    height: 499px;
  }
}
