.group {
  color: @black-lighter;
}

.group__filter {
  text-transform: uppercase;
}

.group__list {
  text-transform: uppercase;
}

.group__subtitle {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.group__text {
  font-size: 14px;
  line-height: 16px;
  color: @grey-light;
}

.group__title {
  font-size: 24px;
  line-height: 24px;
  color: @black-lighter;
}

.group__page-title {
  font-size: 36px;
  line-height: 60px;
  color: @black-lighter;
}
