.input {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @black-lighter;
}

.input__text {
  font-family: "oswaldregular", serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @grey-light;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 5px;
}
