.input {
  display: flex;
  position: relative;
  align-items: center;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @black-lighter;
}

.input__text {
  font-family: "oswaldregular", serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @grey-light;
  padding: 12px 15px;
  padding-right: 25px;
  margin-left: 15px;
  border: 1px solid #e7e7e7;
  flex-grow: 1;
}

.input__text--email {
  margin-left: 10px;
}

.input__text--tel {
  margin-left: 10px;
}


.input__pic--letter {
  position: absolute;
  top: 15px;
  right: 16px;
  background: url("../img/icon-mail.svg") no-repeat;
  width: 18px;
  height: 19px;
}

.input__pic--tel {
  position: absolute;
  top: 12px;
  right: 14px;
  background: url("../img/icon-phone.svg") no-repeat;
  width: 20px;
  height: 20px;
}

@media (min-width: @tablet-width) {
  .input {
    font-size: 20px;
    line-height: 20px;
  }

  .input__text {
    font-size: 20px;
    padding-right: 40px;
    line-height: 20px;
    margin-left: 20px;
  }

  .input__pic--letter {
    top: 19px;
    right: 16px;
  }

  .input__pic--tel {
    top: 18px;
    right: 14px;
  }

  .input__text--email {
    padding-left: 20px;
  }
}

@media (min-width: @desktop-width) {
  .input__text--email {
    padding-left: 20px;
  }

  .input__pic--letter {
    top: 20px;
    right: 22px;
  }

  .input__pic--tel {
    top: 18px;
    right: 19px;
  }
}
