.logo__image--cat {
  width: 33px;
  min-height: 39px;
}

.logo__image--text {
  display: block;
  margin: 8px;
  width: 101px;
  min-height: 18px;
  margin-top: 10px;
  margin-left: 10px;
}

@media (min-width: @tablet-width) {
  .logo__image--cat {
    display: none;
  }

  .logo__image--text {
    width: 173px;
    height: 58px;
    margin-left: 0;
    margin-right: 23px;
  }
}

@media (min-width: @desktop-width) {
  .logo__image--text {
    width: 204px;
    height: 59px;
    margin-left: 0;
    margin-right: 23px;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.5;
    }
  }
}
