.market {

}

.market__wrap {

}

.card-info__wrap {

}

.card__wrap {

}

.market__title {
  font-size: 36px;
  line-height: 60px;
}

.market__goods {

}

.card {

}

.card__text {
  font-size: 12px;
  line-height: 16px;
}

.card-info__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.contents {

}

.contents__label {

}

.contents__value {

}

.contents__text {

}
