.market {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.market__wrap {
  margin: 0 auto;
}

.market__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 500;
  margin-left: 19px;
  margin-top: 26px;
  margin-bottom: 28px;
}

@media (min-width: @tablet-width) {
  .market {
    width: 768px;
    margin: 0 auto;
    margin-bottom: 63px;
  }

  .market__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .market__title {
    font-size: 60px;
    line-height: 60px;
    margin-left: 31px;
    margin-top: 49px;
    margin-bottom: 165px;
  }
}

@media (min-width: @desktop-width) {
  .market {
    width: 1440px;
  }

  .market__wrap {

  }

  .market__title {
    margin-left: 110px;
    margin-bottom: 165px;
    margin-top: 65px;
  }
}
