.nav {
  width: 320px;
  height: 66px;
  margin: 0 auto;
}

.nav__wrap {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  min-height: 66px;
  width: 280px;
  padding-top: 11px;
  margin: 0 auto;
}

.nav__logo {
  display: flex;
  justify-content: space-between;
  width: 191px;
}

.nav__toggle {
  width: 24px;
  height: 18px;
  background: url("../img/icon-mobile-menu.svg") no-repeat;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 10px;

}

.nav__list {
  display: none;
  list-style: none;
}


@media (min-width: @tablet-width) {
  .nav {
    width: 768px;
    padding-top: 25px;
  }

  .nav__wrap {
    width: 708px;
    padding-top: 0;
  }

  .nav__toggle {
    display: none;
  }

  .nav__list {
    display: flex;
    list-style: none;
    width: 439px;
    font-size: 18px;
    line-height: 24px;
    font-family: "oswaldregular", serif;
    font-weight: 300;
  }
}

@media (min-width: @desktop-width) {
  .nav {
    width: 1440px;
    padding-top: 80px;
  }

  .nav__wrap {
    width: 1220px;

  }

  .nav__list {
    width: 480px;
    padding-left: 0;
  }

  .nav__logo {
    margin-right: auto;
  }
}
