.programs {
  width: 320px;
  min-height: 550px;
  margin: 0 auto;
}

.programs__wrap {
  margin: 0 auto;
}

.programs__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .programs {
    width: 768px;
    margin-top: 383px;
  }
}

@media (min-width: @desktop-width) {
  .programs {
    width: 1440px;
    margin-top: 178px;
    min-height: 407px;
  }

  .programs__list {
    display: flex;
  }
}
