.site-list {
  position: absolute;
  list-style: none;
  top: 66px;
  left: -20px;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  z-index: 2;
  width: 320px;
  padding: 0 20px;
}

.site-list__link {
  display: block;
  position: relative;
  text-decoration: none;
  color: @black-darker;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  padding: 18px 21px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.site-list__link::before {
  position: absolute;
  content: "";
  width: 320px;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #e6e6e6;
}

@media (min-width: @tablet-width) {
  .site-list {
    position: static;
    display: flex;
    padding: 0;
    width: auto;
    background-color: transparent;
  }

  .site-list__item {
    margin-right: 35px;

    &:last-child {
      margin-right: 0;
    }
  }

  .site-list__link {
    padding: 0;
    padding-top: 28px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    border: none;
  }

  .site-list__link::before {
    content: none;
  }

  .site-list__link--form {
    color: @black-darker;
    position: relative;
  }

  .site-list__item--active {
    position: relative;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.5;
    }
  }

  .site-list__item--active::after {
    content: "";
    position: absolute;
    width: 100%;
    top: 60px;
    left: 0;
    border-bottom: 2px solid @green;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.5;
    }
  }

  .site-list__item--active-index {
    position: relative;
  }

  .site-list__item--active-index::after {
    content: "";
    position: absolute;
    width: 100%;
    top: 60px;
    left: 0;
    border-bottom: 2px solid @green;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.5;
    }
  }

  .site-list__item--active-form::after {
    content: "";
    position: absolute;
    width: 100%;
    top: 60px;
    left: 0;
    border-bottom: 2px solid @green;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.5;
    }
  }
}

@media (min-width: @desktop-width) {
  .site-list__link {
    font-size: 20px;
    color: black;
  }

  .site-list__item {
    margin-right: 33px;
  }

  .site-list__link--index {
    color: white;
  }

  .site-list__link--form {
    color: @black-darker;
    position: relative;
  }

  .site-list__item--active {
    position: relative;
  }

  .site-list__item--active::after {
    content: "";
    position: absolute;
    width: 100%;
    top: 60px;
    left: 0;
    border-bottom: 2px solid @green;
  }

  .site-list__item--active-index {
    position: relative;
  }

  .site-list__item--active-index::after {
    content: "";
    position: absolute;
    width: 100%;
    top: 60px;
    left: 0;
    border-bottom: 2px solid white;
  }
}
