.site-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.site-list__link {
  display: block;
  position: relative;
  text-decoration: none;
  color: @black-darker;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  padding: 18px 21px;
  padding-bottom: 19px;
}


.site-list__link::before {
  position: absolute;
  content: '';
  width: 320px;
  height: 1px;
  top: 0;
  left: -20px;
  background-color: #e6e6e6;
}

.site-list__item--active-form {

}

@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
  }

  .site-list__item {
    margin-right: 35px;
    &:last-child {
      margin-right: 0px;
    }
  }

  .site-list__link {
    padding: 0;
    padding-top: 28px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    border: none;
  }

  .site-list__link::before {
    content: none;
  }

  .site-list__link--form {
    color: @black-darker;
    position: relative;
  }

  .site-list__item--active {
    position: relative;
  }

  .site-list__item--active:after {
    content: '';
    position: absolute;
    width: 100%;
    top: 60px;
    left: 0;
    border-bottom: 2px solid @green;
  }

  .site-list__item--active-form:after {
    content: '';
    position: absolute;
    width: 100%;
    top: 60px;
    left: 0;
    border-bottom: 2px solid @green;
  }
}

@media (min-width: @desktop-width) {
  .site-list__link {
    color: white;
  }

  .site-list__link--form {
    color: @black-darker;
    position: relative;
  }

  .site-list__item--active:after {
    content: '';
    position: absolute;
    width: 100%;
    top: 60px;
    left: 0;
    border-bottom: 2px solid white;
  }

}
