.slider__toggles-text {
  background-color: transparent;
  font-size: 16px;
  line-height: 20px;
  text-transform:  uppercase;
  color: @black-darker;
  font-family: oswaldmedium;
  border: none;
  outline: none;
  cursor: pointer;
}
