.surprise {
  position: relative;
  width: 280px;
  margin: 0 auto;
}

.surprise::after {
  position: absolute;
  content: '';
  background: url("../img/icon-gift.svg") no-repeat;
  top: 65px;
  left: 113px;
  width: 55px;
  height: 60px;
}

.surprise--image {
  width: 280px;
  height: 288px;
  background: url("../img/gift-photo-mobile@1x.jpg") no-repeat;
}

.surprise__text {
  color: @bg-white;
  font-size: 16px;
  line-height: 16px;
  font-family: "Arial", serif;
  text-align: center;
  margin: 0;
  padding: 190px 50px;
  padding-bottom: 0;
}

@media (min-width: (@tablet-width)) {
  .surprise {
   margin-top: 100px;
    margin-right: 100px;
  }

  .surprise--image {
    width: 245px;
    height: 288px;
    background: url("../img/gift-photo-mobile@1x.jpg") no-repeat;
  }
}

@media (min-width: (@desktop-width)) {

}
