@import "blocks/nav";
@import "blocks/advantages";
@import "blocks/all-products";
@import "blocks/another";
@import "blocks/btn";
@import "blocks/example";
@import "blocks/footer";
@import "blocks/functional-promo";
@import "blocks/group";
@import "blocks/market";
@import "blocks/page-title";
@import "blocks/surprise";
@import "blocks/variables";

@font-face {
  font-family: "oswaldregular";
  src: url("../fonts/oswaldregular.woff2") format("woff2"),
  url("../fonts/oswaldregular.woff") format("woff");
}

body {
  font-family: "oswaldregular";
}
